################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Developer4/.vs/Developer4/v15
/Developer4/.vs/config
/Developer4/.vs/Developer4
/Developer4/Developer4/bin
/Developer4/Developer4/obj
