@{
    Layout = null;
}

<!-- Footer Start -->

<footer class="footer footer-alt">
    <p class="text-muted">
        <script>document.write(new Date().getFullYear())</script> &copy; Formilae
    </p>
</footer>
<!-- end Footer -->