<div>
    <textarea style="height: 350px; width: 450px; overflow-y: scroll; resize: none; outline: #808080;" class="text-black-50" readonly>@Html.Raw(ViewBag.TermsText)</textarea>
</div>
<div class="checkbox mb-2">
    <input id="checkbox0" type="checkbox">
    <label for="checkbox0">
        Accept Terms title
    </label>
</div>