@{
    ViewBag.Title = "Example Signature";
}

<h2>Example Signature</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body m-auto">
                    @Html.Partial("~/Views/Shared/_Signature.cshtml")
                </div>
            </div>
            <div class="card">
                <div class="card-body m-auto">
                    @Html.Partial("~/Views/Shared/_TermsText.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
